* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
    min-height: 5vh;
    width: 100%;
    background: rgb(9,0,0);
    background: linear-gradient(90deg, rgba(9,0,0,1) 0%, rgba(121,46,9,0.9892828525641025) 35%, rgb(119, 26, 34) 100%);
    position: fixed;
    z-index: 3;
}

main {

}

footer {
    text-align: center;
}

/* Lined up content within header */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.header-title {
    padding: 10px;
}

/* Pushed navigation bar to the right of the header and applied flex  */
.nav-bar {
    text-align: right;
    display: flex;
}

.nav-links {
    padding: 20px;
}

/* Removed blue underline effect from hyper link */
.nav-links a {
    text-decoration: none;
    color: white;
}

.splash img {
    width: 100%;
}

.about-me-container,
.contact-container,
.work-container {
    display: flex;
    flex-direction: row;
}

.about-me-title {
    display: block;
    width: 30%;
    height: 100px;
    border-right: solid 2px;
    text-align: right;
    padding: 10px;
}

.about-me-section {
    width: 70%;
    height: 100px;
    padding: 10px;
    text-align: left;
    font-size: large;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profile-image {
    background-image: url(./profile-mug.jpg);
    background-size: 80px 80px;
    border: 2px solid black;
    height: 80px;
    min-width: 80px;
}

.work-title {
    display: block;
    width: 30%;
    height: 800px;
    border-right: solid 2px;
    text-align: right;
    padding: 10px;
}

.portfolio-container {
    display: grid;
    grid-template: 
                "project-1 project-1" 300px
                "project-2 project-3" 100px
                "project-4 project-5" 100px
                ;
    gap: 10px;
    width: 70%;
    height: fit-content;
    padding: 10px;
    /* border: 3px solid red; */
}

/* assigned grid area to each project */
#project-1 {
    grid-area: project-1;
}
#project-2 {
    grid-area: project-2;
}
#project-3 {
    grid-area: project-3;
}
#project-4 {
    grid-area: project-4;
}
#project-5 {
    grid-area: project-5;
}

.project {
    border: 3px solid Black;
    text-align:center;
    border-radius: 5px;
    width: 100%;
    height: 100%; 
    position: relative;
    overflow: hidden;
}

.project-image{
    width: 100%;
    height: 100%;
}

#project1-image {
    background-image:url("./project1-code-refactor.PNG");
}

#project2-image,
#project3-image,
#project4-image,
#project5-image {
    background-image:url("./under_construction.png");
}

.project h1 {
    text-decoration: none;
    color: white;
    background-color: rgb(85, 50, 17);
    border: 2px solid white;
    border-radius: 3px;
    padding: 1px;
    position: absolute;
}

#project-2 h1,
#project-3 h1,
#project-4 h1,
#project-5 h1 {
    font-size: medium;
}

.project img {
    width: 100%;
    height: 100%;

}

.contact-title {
    width: 30%;
    height: 50px;
    border-right: solid 2px;
    text-align: right;
    padding: 10px;
}

.contact-options {
    padding: 20px;
    display: inline-flex;
}

.contact-options a {
    text-decoration: none;
    color: white;
}

.contact-container {
    background:  rgb(119, 26, 34);
    background: linear-gradient(90deg, rgb(119, 26, 34) 0%, rgba(121,46,9,0.9892828525641025) 35%, rgba(9,0,0,1) 100%);
    color: white;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    
    .about-me-container,
    .contact-container,
    .work-container,
    .header-container {
        display: flex;
        flex-direction: column;
    }

    .about-me-title,
    .work-title,
    .contact-title {
        border-bottom: solid 2px black;
        border-right: none;
        width: 100%;
        text-align: center;
        height: 50px;
    }

    .about-me-section {
        width: 100%;
        height: fit-content;
    }

    .work-container,
    .contact-container {
        align-items: center ;
    }
    
    .header-title {
        text-align: center;
    }

  }
