* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    min-height: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: brown;
    color: black;
}

main {
    min-height: 89vh;
}

footer {
    text-align: center;
    min-height: 1vh;
    padding: 5%;
    background-color: brown;
}

header h1 {
    padding: 2% 0% 3% 3%;
}

header nav {
    text-align: right;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.splash img {
    width: 100%;
}

.nav-links {
    padding: 0% 3% 2% 2%;
    font-size: large;
}

.about-me h2{
    display: block;
    text-align: right;
    padding: 5px;
    width: 200px;
    height: 100px;
    border-right: 2px solid black;
}

.description {
    display: block;
    position: relative;
    left: 300px;
    bottom: 50px;
}

.work h2 {
    display: block;
    text-align: right;
    padding: 5px;
    width: 200px;
    height: 900px;
    border-right: 2px solid black;
}

.portfolio {
    display: block;
    position: relative;
    left: 300px;
    bottom: 800px;
}

.contact h2{
    display: block;
    text-align: right;
    padding: 5px;
    width: 200px;
    height: 50px;
    border-right: 2px solid black;
}

.contact-options {
    display: block;
    position: relative;
    left: 300px;
    bottom: 30px;
}


